<!DOCTYPE html>
<html>
<head>
  <title>KampusRor</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<!-- Dropdown Structure -->
<!--<ul id="dropdown1" class="dropdown-content">-->
<!--<li><a href="#!">one</a></li>-->
<!--<li><a href="#!">two</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#!">three</a></li>-->
<!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>-->

<!--</ul>-->
<!--<ul id="dropdown2" class="dropdown-content">-->
<!--<li><a href="#!">one</a></li>-->
<!--<li><a href="#!">two</a></li>-->
<!--<li class="divider"></li>-->
<!--<li><a href="#!">three</a></li>-->
<!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>-->

<!--</ul>-->
<%= render 'shared/header' %>
<main>
  <div class="container">
    <%= render 'shared/message' %>

    <%= yield %>

  </div>
</main>

<%= render 'shared/footer' %>
</body>
<script>
    $(".button-collapse").sideNav();

</script>
</html>
